.list {
  list-style-type: none;
  margin-top: 35px;
  padding-left: 40px;
}

.list_item {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.list_button {
  font-size: 14px;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  margin-left: auto;
  transition: all 250ms linear;
}

.list_button:hover,
.list_button:active {
  background-color: blue;
  color: aliceblue;
}
